body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: 'Encode Sans Condensed', sans-serif;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: #d7d6d6;
}

.btn-default {
  border: 2px solid #aaa9a9;
}
